.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.chartTitle{
    cursor: pointer;
    color: var(--white-color);
    margin-bottom: 18px;
}
.chartTitle:hover{
    color: var(--custom-hover);
}

@media (max-width: 768px) {
    .chart {
      /* margin-right: -20px; */
      background: #262e3d;
      width: 13rem;
      padding: 6px;
      margin: 10px;
      height: 9.5rem;
     
    }
    .chartTitle {
      font-size: 16px;
      
    }
   
    .chart > div {
      min-height: 200px;
    }
  }

  @media (max-width: 320px) {
  .chart {
    width: 9rem;
    padding: 10px;
  }

  .chartTitle {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .chart > div {
    min-height: 180px !important;
  }
}
