.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}
.chartTitle{
    cursor: pointer;
    color: var(--white-color);
    margin-bottom: 18px;
}
.chartTitle:hover{
    color: var(--custom-hover);
}

@media (max-width: 768px) {
    .chart {
      margin-right: -20px;
      padding: 10px;
      width: 13.88rem;
      height: 8rem;
    }
    .chartTitle {
      font-size: 16px;
      margin-bottom: 10px;
    }
   
    .chart > div {
      min-height: 200px;
    }
  }