.WidgetLg{
    flex: 2;
    padding: 20px;
    box-shadow: 0px 0px 15px -8px rgb(0, 0, 0,0.75);
}
.WidgetLgTitle{
    color: var(--white-color);
    font-size: 22px;
    font-weight: 600;
}
.WidgetLgLgTable{
    width: 100%;
    border-spacing: 20px;
}
.WidgetLgTh{
    color: var(--white-color);
    text-align: right;
}

.WidgetLgUser{
    display: flex;
    align-items: center;
}
.WidgetLgImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
    border: 2px solid #2563eb;
}
.WidgetLgName{
    color: var(--white-color);
}
.WidgetLgDate,.WidgetLgAmount{
    color: var(--white-color);
    font-weight: 300;
}
.WidgetLgButton{
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.WidgetLgButton:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}
.WidgetLgButton.Approved{
    background: linear-gradient(90deg, #34d399, #059669);
    color: white;
}
.WidgetLgButton.Approved:hover {
    background: linear-gradient(90deg, #059669, #34d399);
}
.WidgetLgButton.Decline{
    background: linear-gradient(90deg, #f87171, #b91c1c);
    color: white;
}
.WidgetLgButton.Decline:hover {
    background: linear-gradient(90deg, #b91c1c, #f87171);
}
.WidgetLgButton.Pending{
    background: linear-gradient(90deg, #60a5fa, #2563eb);
    color: white;
}
.WidgetLgButton.Pending:hover {
    background: linear-gradient(90deg, #2563eb, #60a5fa);
}
