.home {
  flex: 4;
  padding: 20px;
  
}

.homeWidgets {
  display: flex;
  flex-wrap: wrap; /* اجازه‌ی شکستن ردیف به چند سطر */
  gap: 20px;      /* فاصله بین ویجت‌ها */
  margin: 21px;
}

/* در نمایش‌های موبایل المان‌ها را به صورت ستونی نمایش بده */
@media (max-width: 768px) {

  .home {
    padding: 10px; /* کاهش padding برای موبایل */
    align-items: center;
  }

  .homeWidgets {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    
  }
}
