.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: var(--sidebar-bg);
  position: sticky;
  top: 50px;
  left: 0;
  
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: var(--sidebarTitle);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
   display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarListItem:hover {
  background-color: var(--sidebar-ListItem-hover); /* رنگ هاور */
  color: var(--sidebar-ListItem-color-hover); /* متن آبی */
}

.sidebarListItem.active {
  background-color: var(--sidebar-ListItem-hover); /* رنگ لینک فعال */
  
  font-weight: bold;
}

.sidebarIcon {
  margin-left: 5px;
  font-size: 20px;
}
.sidebarListItem.disabled {
  text-decoration: line-through;
  cursor: not-allowed;
}
.sidebarListItem.disabled:hover{
  background-color: var(--sidebarListItem-disabled-bg-hover);
  color: rgb(206, 47, 47);
}

.sidebarListItem.disabled .sidebarIcon {
  color: gray;
}


