/* باکس کلی */
.widgetSm {
    flex: 1;
    padding: 25px;
    background: var(--container-bg);
    border-radius: 15px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    transition: all 0.3s ease;
}
 
.widgetSm:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

/* عنوان */
.widgetSmTitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--white-color);
    margin-bottom: 20px;
    text-align: center;
}

/* لیست */
.widgetSmList {
   
    margin: 0;
    padding: 0;
    list-style: none;
}

/* آیتم‌های لیست */
.widgetSmListItem {
    background-color: var(--widgetSm-List-Item);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 15px;
    background-color: var();
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.widgetSmListItem:hover {
    background: var(--grey-hover);
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

/* تصویر کاربر */
.widgetSmImg {
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #2563eb;
    transition: transform 0.3s ease;
}

.widgetSmImg:hover {
    transform: scale(1.1);
}

/* اطلاعات کاربر */
.widgetSmUserDetails {
    display: flex;
    align-items: center;
}

.widgetSmUser {cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.widgetSmUsername {
    cursor: pointer;
    font-weight: 600;
    color:var(--white-color);
    font-size: 16px;
}

.widgetSmUserTitle {
    font-weight: 400;
    font-size: 12px;
    color: #6b7280;
}

/* دکمه */
.widgetSmButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background: linear-gradient(90deg, #3b82f6, #2563eb);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(59, 130, 246, 0.2);
}

.widgetSmButton:hover {
    background: linear-gradient(90deg, #2563eb, #3b82f6);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 6px 15px rgba(59, 130, 246, 0.4);
}

.widgetSmIcon {
    font-size: 18px;
    margin-right: 5px;
}
