.user-list-container{
    flex: 4;
}
.user-list-title{
    margin-top: 6px !important;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:12px;
}

