.user-list-container{
    flex: 4;
}
.user-list-title{
    margin-top: 6px !important;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:12px;
}

.dark-mode .user-list-title {
    color: white ;
    
}

.dark-mode .search-field input::placeholder {
    color: #ffffff; /* رنگ مورد نظر شما */
  }

  .dark-mode .user-card {
    background-color:rgb(32, 38, 50);
  }
  .dark-mode .user-username,
  .dark-mode .user-email,
  .dark-mode .user-status,
  .dark-mode .user-transaction {
    color: white !important;
  }

  @media (max-width: 768px) {
    .MuiGrid-container{
       width: 15rem !important;
    }
    .MuiTypography-h4{
      font-size: 1.2rem !important;
    }
    }
  @media (max-width:320px) {
    .respinsive-test{
       width: 11.5rem !important;
    }

    }
